.cursor-container {
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #ff4a17;
  transition: 0.15s;
  pointer-events: none;
}

.cursor {
  width: 8px;
  height: 8px;
  left: 15px;
  top: 15px;
  background-color: #ff4a17;
  transition: 0.2s;
  pointer-events: none;
}

.cursor-container,
.cursor {
  position: fixed;
  border-radius: 50%;
  z-index: 999;
  transform: translate(50%, 50%);
  mix-blend-mode: difference;
}
