.content-slider .slick-slide {
  width: 100% !important;
  height: 100% !important;
}
.content-slider .slick-slide > div {
  width: 100% !important;
}
.image-slider .slick-list {
  padding: 0 !important;
  height: 100% !important;
}
.image-slider .slick-slider {
  height: 100%;
}
.image-slider .slick-track {
  height: 100%;
}
.image-slider .slick-slide {
  width: 181px !important;
  height: 181px !important;
  flex-shrink: 0;
}
.image-slider .slick-slide > div {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
}
.image-slider .slick-center .active-neno {
  position: relative;
  z-index: 9999;
  transform: scale(1.8);
  opacity: 1;
}
.new-shape {
  animation: animo-y 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  position: absolute;
  right: 20px;
  top: -15%;
}

@keyframes animo-y {
  50% {
    animation-timing-function: cubic-bezier(0.55, 0, 0.2, 1);
    transform: translateY(30px);
  }
}
